.T1 {
    overflow: hidden;
    width: 570px;
    height: 389px;
}
.T1 img {
    width: 570px;
    display: block;
    transition: 0.5s;
}
.T1 img:hover {
    transform: scale(1.1, 1.1);
}




.T2 {
    overflow: hidden;
    width: 400px;
    height: 300px;
}
.T2 img {
    width: 400px;
    display: block;
    transition: 0.5s;
}
.T2 img:hover {
    transform: scale(1.1, 1.1);
}
